<div class="container mt-4">
    <div class="card bg-light " style="--bs-bg-opacity: .6;">
        <div class="card-body" >
            
                    <span class="h3">Clientes Registrados</span>
                    <button class="btn btn-outline-secondary btn-lg float-end" routerLink="/crear-cliente">Registrar Cliente</button>
               
            
            

            <table class="table table-hover mt-4">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Direccion</th>
                      <th>Telefono</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text" *ngFor="let cliente of clientes | async">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>
                        <img src="../../../assets/images/edit.png" height="24" width="24"id="edit">
                        <img src="../../../assets/images/delete.png" height="24" width="24">
                    </td>
                  </tr>
                </tbody>
              </table>
          
        </div>
    </div>

</div>
